[submodule "meta/core"]
	path = meta/core
	url = ../core.git
[submodule "meta/base"]
	path = meta/base
	url = ../base.git
[submodule "lib/fetching/fetching"]
	path = lib/fetching/fetching
	url = git://oe-lite.org/python-fetching.git
[submodule "meta/bcm2835"]
	path = meta/bcm2835
	url = ../bcm2835.git
[submodule "lib/urlgrabber"]
	path = lib/urlgrabber
	url = git://oe-lite.org/urlgrabber.git
